@model BangazonWorkforce.Models.ViewModels.ComputerDeleteViewModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>ComputerDeleteViewModel</h4>
    <hr />
    <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Computer.Make)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Computer.Make)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Computer.Manufacturer)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Computer.Manufacturer)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Computer.PurchaseDate)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Computer.PurchaseDate)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Computer.DecommissionDate)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Computer.DecommissionDate)
            </dd>
            <dt class="col-sm-2">
                Employee Assigned
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Computer.Employee.FullName)
            </dd>
        </dl>
   
    
    <form asp-action="Delete">
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
